nav ul {
  display: flex;
  background-color: rgb(253, 230, 245);
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style: none;
  margin-right: 16px;
  font-weight: 700;
  color: rgb(6, 6, 81);
}
